.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.cabecalho {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 107px;
  background: linear-gradient(#0073af, #003049);
  justify-content: space-between;
}
.logo {
  margin-left: 2em;
  width: 160px;
  height: 50px;
}
.navegacao {
  display: flex;
  justify-content: space-between;
  width: auto;
  align-items: center;
  padding: 1em 0;
  margin-right: 2em;
}
.navegacao-itens {
  display: flex;
  gap: 40px;
  justify-content: space-around;
  width: 80%;
}
.nav-links {
  text-decoration: none;
  color: white;
  width: 10em;
}
.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50px;
  background: linear-gradient(#0073af, #003049);
  color: white;
  font-size: 1em;
}
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
  gap: 1em;
}
h1 {
  font-size: 2em;
  color: #003049;
}
.area-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
  gap: 2em;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
  width: 20em;
  background-color: white;
  border: 1px solid #003049;
}
#listagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
  gap: 1em;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}
thead {
  background: linear-gradient(#0073af, #003049);
  color: #ffffff;
}
thead th {
  padding: 12px 15px;
  font-weight: bold;
  text-transform: uppercase;
}
tbody tr {
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease;
}
td {
  padding: 12px 15px;
}
th {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 2px solid #ddd;
}
table tr:first-child th:first-child {
  border-top-left-radius: 8px;
}
table tr:first-child th:last-child {
  border-top-right-radius: 8px;
}

.area-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
  gap: 2em;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  padding: 1em;
  width: 20em;
  background-color: white;
  border: 1px solid #003049;
}
.card-links {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
  gap: 1em;
}
